body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/*Header*/

.header {
    width: 100%;
    background-color: #333333;
    color: white;
}

.header_container {
    width: 100%;
    max-width: 1096px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency {
    font-size: 13px;
    font-weight: 600;
    color: #777777;
    position: relative;
}

.cur {
    display: flex;
    justify-content: space-between;
}

.currency_text {
    padding-right: 3px;
}

.currency_value {
    text-transform: uppercase;
}

.currency_value:after {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1.5px solid #777777;
    border-right: 1.5px solid #777777;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 47%;
    left: 103px;
}

.register {
    width: 24%;
    font-size: 13px;
    font-weight: 600;

    color: #999999;
}

.sign_in {
    width: 35%;
    font-size: 13px;
    font-weight: 600;

    color: #999999;
}

.shopping_cart {
    width: 41%;
    height: 45px;
    padding: 15px 25px 16px 64px;

    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */

    background-color: #00c8c8;
}

.group_left {
    width: 100%;
    max-width: 363px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_logo {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
}

.cart_text {
    font-size: 13px;
    font-weight: 600;
}

.cart_text:after {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1.5px solid white;
    border-right: 1.5px solid white;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: 24px;
}


/*Intro*/
.intro {
    background-color: #f8f8f8;
    position: relative;
}

.intro_container {
    width: 100%;
    max-width: 1667px;

    margin: 0 auto;
    padding-top: 38px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;

    width: 45%;
    position: relative;
    z-index: 2;
}

.menu {
    position: relative;
    z-index: 1;
}

.menu_item {
    padding-right: 50px;

    font-size: 13px;
    font-weight: 600;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .1s linear;
}

.menu_item:hover {
    color: #00c8c8;
}

.menu_item:last-child {
    padding-right: 70px;
}

.search_input {
    height: 27px;

    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #989898;
    border: 1px solid #e7e7e7;
    outline: none;

    padding-left: 10px;
}

.search {
    width: 10%;
    position: relative;
}

.search_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
}

.ave {
    text-transform: uppercase;

    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 120px 0 160px;
    text-align: center;

    display: flex;
    justify-content: space-around;

    position: relative;
}

.char {
    font-size: 421.46px;
    color: #575153;
    font-weight: 700;

    position: relative;
    z-index: 2;
}

.men_intro {
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 1;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    color: #454647;

    padding: 16px 30px;
    border: 2px solid #737373;
    
    position: absolute;
    right: 12%;
    bottom: 14%;

    z-index: 2;

    transition: background-color .1s linear, color .1s linear, border-color .1s linear;
}

.btn:hover {
    color: #f8f8f8;
    background-color: #00c8c8;
    border-color: #00c8c8;
}

.line { 
    content: "";
    width: 86%;
    height: 1px;
    margin: 58px auto 50px;
    background-color: #f0f0f0;
}


/*Items*/
.menu_items {
    padding-left: 129px;
}

.images {
    display: flex;
    justify-content: space-around;

    font-weight: 400;
    color: #9a9a9a;

    margin-top: 60px;
}

.image_item {
    position: relative;
}

.currency_image_item {
    font-size: 12px;

    position: absolute;
    top: 9px;
    left: 8px;
}

.value_image_item {
    font-size: 21px;

    position: absolute;
    top: 9px;
    left: 16px;
}