body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/*Header*/

.header {
    width: 100%;
    background-color: #333333;
    color: white;
}

.header_container {
    width: 100%;
    max-width: 1096px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency {
    font-size: 13px;
    font-weight: 600;
    color: #777777;
    position: relative;
}

.cur {
    display: flex;
    justify-content: space-between;
}

.currency_text {
    padding-right: 3px;
}

.currency_value {
    text-transform: uppercase;
}

.currency_value:after {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1.5px solid #777777;
    border-right: 1.5px solid #777777;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 47%;
    left: 103px;
}

.register {
    width: 24%;
    font-size: 13px;
    font-weight: 600;

    color: #999999;
}

.sign_in {
    width: 35%;
    font-size: 13px;
    font-weight: 600;

    color: #999999;
}

.shopping_cart {
    width: 41%;
    height: 45px;
    padding: 15px 25px 16px 64px;

    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */

    background-color: #00c8c8;
}

.group_left {
    width: 100%;
    max-width: 363px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_logo {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
}

.cart_text {
    font-size: 13px;
    font-weight: 600;
}

.cart_text:after {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1.5px solid white;
    border-right: 1.5px solid white;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: 24px;
}


/*Intro*/
.intro {
    background-color: #f8f8f8;
    position: relative;
}

.intro_container {
    /* width: 100%;
    max-width: 1667px; */
    width: 86%;

    margin: 0 auto;
    padding-top: 38px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;

    width: 45%;
    position: relative;
    z-index: 2;
}

.menu {
    position: relative;
    z-index: 1;
}

.menu_item {
    padding-right: 50px;

    font-size: 13px;
    font-weight: 600;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .1s linear;
}

.menu_item:hover {
    color: #00c8c8;
}

.menu_item:last-child {
    padding-right: 70px;
}

.search_input {
    height: 27px;
    width: 100%;

    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #989898;
    border: 1px solid #e7e7e7;
    outline: none;

    padding-left: 10px;
}

.search {
    width: 10%;
    position: relative;
}

.search_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.ave {
    text-transform: uppercase;

    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 120px 0 160px;
    text-align: center;

    display: flex;
    justify-content: space-around;

    position: relative;
}

.char {
    font-size: 421.46px;
    color: #575153;
    font-weight: 700;

    position: relative;
    z-index: 2;
}

.men_intro {
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 1;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    color: #454647;

    padding: 16px 30px;
    border: 2px solid #737373;

    transition: background-color .1s linear, color .1s linear, border-color .1s linear;
}

.btn_intro {
    position: absolute;
    right: 12%;
    bottom: 14%;

    z-index: 2;
}

.btn:hover {
    color: #f8f8f8;
    background-color: #00c8c8;
    border-color: #00c8c8;
}

.line { 
    content: "";
    width: 86%;
    height: 1px;

    margin: 58px auto 50px;
    padding: 0 30px;

    background-color: #f0f0f0;
}


/*Items*/
.menu_items {
    /* width: 100%;
    max-width: 1667px; */
    width: 86%;

    margin: 0 auto;
    /* padding: 0 30px; */
}

.images {
    font-weight: 400;
    color: #9a9a9a;

    /* width: 100%;
    max-width: 1667px; */
    width: 86%;

    display: flex;

    margin: 60px auto 0;
    /* padding: 0 30px; */
}

.images_col {
    flex: 1 1 0;
}

.group_image {
    width: 50%;
    flex: 1 1 0;
}

.image_item {
    position: relative;
    display: inline-block;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.currency_image_item {
    font-size: 12px;

    position: absolute;
    top: 9px;
    left: 8px;
}

.value_image_item {
    font-size: 21px;

    position: absolute;
    top: 9px;
    left: 16px;
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

/*Lookbook*/
.lookbook{
    padding-bottom: 123px;

    display: flex;
    justify-content: space-between;
}

.lookbook_item {
    width:  32.3%;

    background-color: #f8f8f8;

    display: flex;
}

.lookbook_item_image {
    /* height: auto;
    width: 40%;

    position: absolute;
    bottom: 0; */
    width: 35%;

    margin-top: 8%;
    margin-left: 4.5%;
}

.lookbook_item_content {
    text-align: right;
    margin: 15% 6% 0 8%;
}

.lookbook_item_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 44.96px;
    color: #575153;
}

.lookbook_item_subtitle {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 44.96px;
    color: #575153;
    margin-bottom: 10px;
}

.lookbook_item_text {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #727272;
    font-size: 14,05px;
    line-height: 23px;
    margin-bottom: 40px;
}


/*Footer*/
.footer {
    background-color: #f8f8f8;
}

.footer_container {
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
}

.footer_nav {
    display: flex;
    justify-content: space-between;

    padding-top: 55px;
    margin-bottom: 55px;
}

.footer_nav_col_title {
    color: #575153;
    font-size: 12.18px;
    font-weight: 600;
    text-transform: uppercase;

    margin-bottom: 22px;
}

.footer_nav_link {
    display: block;
    padding-bottom: 10px;

    color: #727272;
    text-decoration: none;
    font-weight: 500;
    font-size: 13.11px;
}

.footer_nav_link--double {
    padding-bottom: 0;
}

.footer_banners {
    display: flex;
    justify-content: space-between;

    padding-bottom: 50px;
}

.award_banner {
    background-color: #333333;

    width: 48%;

    text-transform: uppercase;
    color: #ffffff;
    font-size: 33.72px;
    letter-spacing: 2px;
    text-align: center;
}

.award_winner {
    font-weight: 700;

    padding-top: 56px;
}

.fashion_awards {
    font-weight: 400;

    padding-bottom: 56px;
}

.social_banner {
    background-color: #00c8c8;

    width: 48%;

    color: #ffffff;
    font-size: 33.72px;

    text-align: center;

    padding-top: 74px;
}

.social_banner i {
    margin-right: 51px;
}

.social_banner i:last-child {
    margin-right: 0;
}

.footer_copyright {
    background-color: #333333;
}

.footer_copyright_box {
    display: flex;

    font-size: 12.18px;
    font-weight: 500;

    padding: 12px 0;
}

.tm {
    color: #999999;

    width: 66%;
}

.design_by {
    color: #777777;

    width: 19%;
}

.dev_by {
    color: #777777;

    width: 15%;
    text-align: right;
}